.Btn-load {
  display: block;
  margin: 25px auto;
  padding: 15px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
  background-color: rgb(37, 37, 173);
  color: white;
  cursor: pointer;
}
.Btn-load:hover {
  background-color: blue;
}
